<% provide(:title, 'All Users') %>

<% if params[:search].present? %>
 <h1>検索結果</h1>
<% else %>
 <h1>全てのユーザー</h1>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <div class="row container">
  <div class="col-md-4 col-md-offset-8">
  <p>ユーザー名検索</p>
  <%= form_tag(users_path, :method => 'get' ) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :name => nil,  class: " btn-primary" %>
  <% end %>
  </div>
  </div>
</div>
　<%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :管理者 %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
          <%= link_to "　｜基本情報編集", edit_basic_info_user_path(user), remote: true  %>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "　｜　削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
　<%= will_paginate %>  
</div>


<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>